@import url('https://fonts.googleapis.com/css?family=Lato|Source+Code+Pro:400,900&display=swap');

body {
  font-family: Lato;
  background: #FF8900;
  background: -webkit-linear-gradient(to left,  #FFB763, #FF8900);
  background: linear-gradient(to left, #FFB763, #FF8900);
}

#container {
  min-height: 525px;
  width: 360px;
  padding-bottom: 1px;
  margin: 100px auto;
  background: #ddd;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  text-align: center;
}

h1 {
  background: #333;
  color: white;
  margin: 0;
  padding: 10px;
  text-transform: uppercase;
  font-size: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
	
}

p {
  padding: 0 20px;
}

img {
  max-width: 360px;
  margin: 0 auto;
  display: block;
}
form input[type="text"], input[type="number"] {
  width:90px;
  
  text-transform: uppercase;
  display: block;
  margin: 30px auto;

  border-radius: 5px;
  border: none;
  width: 90px;
  height: 50px;
  font-size: 30px;
  color: #000;
  text-align: center;
  outline:none;
}
input[type="number"]{
  font-family: 'Source Code Pro', monospace;
  margin: 10px auto;
}
form input[type="text"]:disabled, input[type="number"]:disabled {
 background-color: #eee;
}
#totalBill {
  font-size: 14px;
  color: #ff0000;
  background-color: #f7f7f7;
  width: 100px;
  padding: 5px 5px 8px 8px;
}

#totalBill:focus {
  background: #fff;
  border: 3px solid #2980b9;
  outline: none;
}

#peopleCount {
  width: 90px;
  padding: 5px 5px 8px 8px;
  margin-left: 20px;
  color: #ff0000;
  background-color: #f7f7f7;
  font-size: 14px;
}

.dollarSign {
  display: inline;
}

#service {
  padding: 13px 13px 20px 20px;
  font-size: 25px;
}
ul{
  padding: 0 83px;
  text-align: left;
  margin:0;
}
#guesses li{
  display: inline-block;
  font-size:20px;
  font-weight: 900;
  font-family: 'Source Code Pro', monospace;
}
#guesses li:after{
  content: ", "
}
#guesses li:last-child:after{
  content: ""
}
#guesses li:tooHigh{
  color:#2bbd72;
}
#guesses li:tooLow{
  color:#c74444;
}
#results{
  color: #1100ff;
  min-height: 20px;
  margin: 10px 0;
  
}
button, input[type="button"] {
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  margin: 30px auto;
  background: #C66A00;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  font-size: 20px;
  color: white;
  outline:none;
}

button:hover, input[type="button"]:hover {
  background: #9B5300;
  border-bottom-color: #666;
}

button:active, input[type="button"]:active {
  position: relative;
  top: 1px;
}
button:disabled, input[type="button"]:disabled {
  background-color: #888;
  color: #666;
  opacity: .5;
}

#tipAndTotal {
  font-size: 30px;
  margin-top: 5px;
  text-align: center;
}

.tipAndTotalTextStyle {
  font-size: 20px;
  font-weight: bold;
  display: block;
  text-transform: uppercase;
}

#tipAndTotal sup {
  font-size: 20px;
  top: -18px;
}

#tipAndTotal small {
  font-size: 20px;
  font-weight: bold;
  display: block;
}
#totalAmountText {
  padding-top: 20px;
}